<div class="card">
  <div class="card_header" color="primary">
    <div class="card_header_title">
      <div class="card_header_title_status">Pending</div>
      <div class="card_header_title_job">Software Developer</div>
    </div>
    <div class="card_header_subtitle">
      January 12, 2020 10:30 a.m.
    </div>
  </div>
  <div class="card_content">
    <div class="card_content_interviewee">
      <span class="bold">Interviewee: </span> Ben Solo
    </div>
    <div class="card_content_interviewer">
      <span class="bold">Interviewer: </span> Luke Skywalker
    </div>
    <div class="card_content_comments">
      <span class="bold">Comments: </span><br />
      {{truncate(sampleDescription)}}
    </div>
  </div>
  <hr />
</div>
