<p class="cm_sign_up_main_message">Create a new profile</p>

<!-- <form #myForm="ngForm" (ngSubmit)="registerProfile(myForm)" style="padding: 10px 40px;" ngNativeValidate>
 -->
    <div class="col-xs-5">
      <input [(ngModel)] = newProfile.firstName type="text" class="form-control" placeholder="Firstname" name="fname">
    </div>
    <div class="col-xs-5">
      <input [(ngModel)] = newProfile.lastName type="text" class="form-control" placeholder="Lastname" name="lname">
    </div>

    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <input [(ngModel)] = newProfile.location type="text" class="form-control" placeholder="Location" name="location">
    </div>
    
    <div class="col-xs-5">
      <input [(ngModel)] = newProfile.emailAddress type="email" class="form-control" placeholder="Email" name="email">
    </div>
    <div class="col-xs-5">
      <input [(ngModel)] = newProfile.description type="text" class="form-control" placeholder="Description" name="description">
    </div>


    <div class="col-xs-3"></div>
    <div class="col-xs-5">
      <button type="submit" (click)="registerProfile()" class="btn btn-cm_default text-center">Register Profile</button>
    </div>

    <app-search-select 
    (emitSelections) = "skillSelectionHandler($event)"
    >


<!-- </form>
 -->
<!-- <app-search-select 
(selections) = "skillSelectionHandler($event)"
[(ngModel)] = newProfile.skill
> -->


<!-- put ivan's component here -->




<!-- <div class="search_bar">
  <i class="material-icons">search</i>
  <input type="text" [(ngModel)]='skillsFilter' placeholder="Search skills . . ." >       
</div> -->










<!-- <form>
    First name:<br>
    <input type="text" name="Firstname"><br>
    Last name:<br>
    <input type="text" name="Email Address"><br>
    Email Address:<br>
    <input type="text" name="Lastname"><br>
    Description:<br>
    <input type="text" name="Description"><br>
    Location:<br>
    <input type="text" name="Description">
</form>
 -->
