
<div id="jobfromwrapper">
<div id="jobform">

<form class="job-form" action="POST" #jobform=ngForm (ngSubmit)="submission(jobform)">
        <mat-form-field>
          <input name="title" value="title" matInput placeholder="Job Title" ngModel>
        </mat-form-field>
        <br>
        <mat-form-field>
          <textarea name="description" value="description" matInput placeholder="Job Description" ngModel></textarea>
        </mat-form-field>
        <mat-card class="skills-field">
        <h3>Skills</h3>
          <mat-card *ngFor="let s of skill">
            <mat-checkbox [name]="s.id" ngModel>{{s.title}}</mat-checkbox>
          </mat-card>
        </mat-card>
                <br>
                <button id="jobsbutton" input type="submit" mat-raised-button>Submit</button>      
      </form>
</div>

</div>