<form class="job-form" action="POST" #jobform=ngForm (ngSubmit)="submission(jobform)">
        <mat-form-field>
          <input name="title" matInput placeholder="Job Title" ngModel value="title">
        </mat-form-field>
        <br>
        <mat-form-field>
          <textarea name="description" matInput placeholder="Job Description" ngModel value="description"></textarea>
        </mat-form-field>
        <h3>Skills</h3>
                <br>
                    <!-- <mat-checkbox [formControlName]="i"></mat-checkbox> -->
                <br>
                <button input type="submit" mat-raised-button>Submit</button>      
      </form>
