<div id="jobformwrapper" class="interview">
  <div id="jobform">


    <form id="jobformwrapper" class="interview-form interview" style="margin-left: 40%; margin-top: 60px;"
      #interviewform=ngForm (ngSubmit)="submission(interviewform)">

      <mat-form-field>
        <input type="text" placeholder="Interviewee" aria-label="Interviewee" matInput [formControl]="myControl"
          [matAutocomplete]="auto" name="interviewee" value="option.name" ngModel>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option name="profile" *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput type="datetime-local" placeholder="Interview date and time:" value="date" name="date" ngModel>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input type="text" placeholder="Job" aria-label="Job" matInput [formControl]="jobControl"
          [matAutocomplete]="autojob" name="job" ngModel>
        <mat-autocomplete #autojob="matAutocomplete" [displayWith]="displayJ">
          <mat-option name="jobs" *ngFor="let jobOption of filteredJobOptions | async" [value]="jobOption">
            {{jobOption.title}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <br>
      <h4>Select Interviewers</h4>
      <!-- <mat-card *ngFor="let u of users"> -->
        <mat-checkbox *ngFor="let u of users" [name]="u.username" [id]="u.id" (change)="getCheckboxes($event)">{{u.username   }}</mat-checkbox>
      <!-- </mat-card> -->
      <br>
      <button id="jobsbutton" class="btn-block glow-on-hover bigwords">Submit</button>
    </form>

  </div>
</div>

