<DIV class='profile-modal-container'  [id]='profile.id.toString()'>
    <DIV class="profile-modal">
        <DIV class="profile-modal-titlebar">
            <!-- profile name -->
            <DIV class="profile-modal-name">{{profile.firstName + ' ' + profile.lastName}}</DIV>
            <span class='close' (click)='close()' >&times;</span>
        </DIV>
        <DIV class="profile-modal-content">
            <DIV class="profile-modal-top">
                <DIV class="left">
                    <!-- Contact Info -->
                    <DIV>
                        <DIV class="profile-modal-contact-title">Contact Info</DIV>
                        <DIV id="info">{{profile.emailAddress}}
                        <br/>{{profile.location}}</DIV>
                    </DIV>
                    <!-- Description -->
                    <DIV>
                        <DIV class="profile-modal-description-title">Description</DIV>
                        <DIV id="info">{{profile.description}}</DIV>
                    </DIV>
                </DIV>
                <!-- Interviews Scheduled -->
                <DIV class="right">
                    <DIV class="profile-modal-interviews-title">Interviews Scheduled</DIV>
                    <DIV>
                        <UL>
                            <LI *ngFor="let interview of interviews" style="display: flex; justify-content: space-between;">
                                <DIV>
                                    <A>{{interview.job.title}}</A>
                                </DIV>
                                <DIV class="profile-modal-interview-date">
                                    {{interview.date | date}}
                                </DIV>
                            </LI>
                        </UL>
                    </DIV>
                </DIV>
            </DIV>
            <!-- skills -->
            <DIV class="profile-modal-middle">
                <mat-form-field (change)='console.log("changed")'>
                    <mat-select [formControl]="skillSelect" placeholder="Search Skills" multiple>
                        <mat-option *ngFor="let skill of allSkillsAvailable" [value]="skill">
                            {{ skill.title }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-chip-list class="selection_pool">
                    <mat-chip *ngFor="let skill of skillSelect.value" class="selection">
                        {{ skill.title }}
                    </mat-chip>
                </mat-chip-list>
            </DIV>
            <!-- Back button -->
            <DIV class="profile-modal-bottom">
                <BUTTON mat-flat-button class="btn" (click)="close()">Back</BUTTON>
            </DIV>
        </DIV>
    </DIV>
</DIV>