<div id="">
  <div class="post-div" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="orangebox"
      ><mat-card>
        <form
          class="skill-form"
          #skillform="ngForm"
          (ngSubmit)="submission(skillform)"
        >
          <mat-form-field class="mat-input-wrapper">
            <input name="title" matInput placeholder="Skill Title" ngModel />
          </mat-form-field>
          <br />
          <button input type="submit" class="btn-block glow-on-hover bigwords">
            Submit
          </button>
        </form>
      </mat-card></mat-card
    >
  </div>
</div>
