.emptyspace {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(199, 21, 160);
    margin-left: auto;
    
      // This fills the remaining space, by using flexbox. 
      // Every toolbar row uses a flexbox row layout.
      
    
  }

