.emptyspace {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(231, 145, 33);
    margin-left: auto;
    
      // This fills the remaining space, by using flexbox. 
      // Every toolbar row uses a flexbox row layout.  
  }

  .bgcolor{
    background: #f26925;
  }

  .bgcolor2{
    background: #f3a55d;
  }


 //colors
$black_50: rgba(0, 0, 0, 0.5);
$coral: coral;
$black_67_1: rgba(0, 0, 0, 0.671);

#revaturelogo2 {
    position: absolute;
    position: fixed;
    margin-top: 80vh;
    margin-left: 80vw;
    margin-right: 10px;
    z-index: 2;
    color: $black_50;
}
#orange1-2 {
    background-color: $coral;
    height: 4px;
    width: 4px;
    display: inline-block;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotate(-80deg);
    margin-left: 70px;
    padding-bottom: 0;
    margin-bottom: 0;
}
#orange2-2 {
    background-color: $coral;
    height: 8px;
    width: 4px;
    margin-bottom: 6px;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotate(-30deg);
    display: inline-block;
    margin-left: 5px;
}
#orange3-2 {
    background-color: $coral;
    height: 10px;
    width: 4px;
    display: inline-block;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotate(-15deg);
    margin-bottom: 10px;
    margin-left: 5px;
}
#orange4-2 {
    background-color: $coral;
    height: 12px;
    width: 4px;
    display: inline-block;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotate(-6deg);
    margin-bottom: 15px;
    margin-left: 5px;
}
#orange5-2 {
    background-color: $coral;
    height: 14px;
    width: 4px;
    display: inline-block;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotate(7deg);
    margin-bottom: 16px;
    margin-left: 5px;
}
#orange6-2 {
    background-color: $coral;
    height: 17px;
    width: 4px;
    display: inline-block;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotate(16deg);
    margin-bottom: 16px;
    margin-left: 5px;
}
#orange7-2 {
    background-color: $coral;
    height: 20px;
    width: 4px;
    display: inline-block;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotate(24deg);
    margin-bottom: 14px;
    margin-left: 5px;
}
#orange8-2 {
    background-color: $coral;
    height: 23px;
    width: 4px;
    display: inline-block;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotate(35deg);
    margin-bottom: 10px;
    margin-left: 5px;
}
#orange9-2 {
    background-color: $coral;
    height: 27px;
    width: 4px;
    display: inline-block;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotate(40deg);
    margin-bottom: 4px;
    margin-left: 5px;
}
#orange10-2 {
    background-color: $coral;
    height: 30px;
    width: 4px;
    display: inline-block;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotate(50deg);
    margin-bottom: -6px;
    margin-left: 5px;
}
#logo-text-2 {
    color: $black_67_1;
    padding-top: 0;
    margin-top: 0;
}