<div class="interviewsPage">
  <div class="side side_1">
    <app-calendar *ngIf="filteredInterviews.length > 0" [interviews]="filteredInterviews" ></app-calendar>
    <div style="margin-top: 1rem;" class="interviewers_selector">
      <app-interviewer-list (selectionChange)="selectionChange($event)" [selectionList]="interviewers" ></app-interviewer-list>
    </div>
  </div>
  <div class="side side_2">
    <span class="filter">Interviewers:  {{names}}</span>
    <div class="grid">
      <div *ngFor='let interview of filteredInterviews'>
        <app-interview-card [interview]="interview"></app-interview-card>
      </div>
    </div>
  </div>
</div>
<app-fab></app-fab>