<div [id]='job.id.toString()' class='modal'>
    <div class='modal-content'>
        <div class='modal-header'>
            <span class='close' (click)='closeModal()' >&times;</span>
            <h2>{{job.title}}</h2>
        </div>
        <div class='modal-body'>
            <div>
            <!-- <div> class='container'> -->
                <div class='container'>
                    <div id='description' class='item'>
                        <h4 class='title areas'>Description</h4>
                        <p>{{job.description}}</p>
                    </div>
                    <div id='schedinterviews' class='item'>
                        <h4 class='title areas'>Scheduled Interviews</h4>
                        <mat-action-list>
                            <button mat-list-item *ngFor='let iv of allInterviews' (click)='goToInterview(iv)'>{{ iv.profile.firstName }} {{ iv.profile.lastName }} <span *ngIf='iv.isComplete' class='interviewlistcomplete'>(Completed)</span></button>
                        </mat-action-list>
                    </div>
                </div>
                <div class='row'>
                    <div id='skillselect' class='col'>
                        <h4 class='title areas'>Skills</h4>
                        <mat-form-field>
                            <mat-select [formControl]="skillSelect" multiple>
                                <mat-option *ngFor="let skill of allSkills" [value]="skill">
                                    {{ skill.title }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-chip-list class="selection_pool">
                            <mat-chip *ngFor="let skill of job.skills" class="selection">
                                {{ skill.title }}
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                    <div id='newinterview' class='col'>
                        <h4 class='title areas'>Schedule New Interviews</h4>
                        <mat-form-field>
                            <mat-select [formControl]="candSelect" multiple>
                                <mat-option *ngFor="let profile of allProfiles" [value]="skill">
                                    {{ profile.firstName }} {{ profile.lastName }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-chip-list class="selection_pool">
                            <mat-chip *ngFor="let profile of candSelect.value" class="selection">
                                {{ profile.firstName }} {{ profile.lastName }}
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </div>
                <div class='row'>
                    <button id='submitnewinterviewsbtn' (click)='submitInterviews()'>Schedule Interview(s)</button>
                </div>
            </div>
        </div>
    </div>
</div>