@import "../../styles.scss";
.interview_info {
  width: 50%;
}
.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px;
  position: absolute;
  left: 100px;
  top: 150px;

  padding: 10px;
}
.card {
  //   $card-side-length: 18rem;
  height: 500px;
  width: 800px;

  padding: 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  cursor: pointer;

  box-shadow: $box-shadow-low;

  &_header {
    background-color: $col-pri !important;
    padding: 0.5rem;
    & > * {
      margin: 0;
    }
    // margin: .5rem;
    &_title {
      color: white;
    }
    &_subtitle {
      color: #eee;
    }
  }

  &_content {
    padding: 0.5rem;
    height: 100%;
    color: $dark-grey;
  }

  hr {
    border: none;
    margin: 0.5rem;
    height: 2px;
    background-color: $col-pri;
  }

  &_footer {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    color: $light-grey;
  }
  .interviewcreator > .card {
    grid-column: 2/3;
  }
}

.candidates > .card {
  //   $card-side-length: 18rem;
  height: 500px;
  width: 200px;
  position: relative;
  left: 820px;
  bottom:500px;
  padding: 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  
  cursor: pointer;

  box-shadow: $box-shadow-low;

  &_header {
    background-color: $col-pri !important;
    padding: 0.5rem;
    & > * {
      margin: 0;
    }
    // margin: .5rem;
    &_title {
      color: white;
    }
    &_subtitle {
      color: #eee;
    }
  }

  &_content {
    padding: 0.5rem;
    height: 100%;
    color: $dark-grey;
  }

  hr {
    border: none;
    margin: 0.5rem;
    height: 2px;
    background-color: $col-pri;
  }

  &_footer {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    color: $light-grey;
  }
  .interviewcreator.card {
    grid-column: 2/3;
  }
}
