<div id="jobfromwrapper">
    <div id="jobform">
<form [formGroup]="profile-form" class="profile-form" #profileform="ngForm" (ngSubmit)="submission(profileform)">
 
        <mat-form-field>
          <input name="firstName" matInput placeholder="First Name" ngModel>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input name="lastName" matInput placeholder="Last Name" ngModel>
        </mat-form-field>
<mat-card class="skills-field">  
<h4>Skills:</h4>
<mat-card *ngFor="let s of skill">
  <mat-checkbox formControlName="{{s.title}}" ngModel>{{s.title}}</mat-checkbox>
</mat-card>
</mat-card>
                <mat-form-field>
                                <textarea value="description" name="description" matInput placeholder="Description" ngModel></textarea>
                </mat-form-field>
                <br>
                <button input type="submit" mat-raised-button>Submit</button>
       
      </form>      
</div></div>
