#jobform{
    background-color: white;
 padding: 5px;
 
 }
 
 #jobfromwrapper{
 background-color: #ff960d;

     padding: 20px;
 margin-left: 40%;
 margin-top: 5vh;
 width: 20%;
 border-radius: 10px;
 text-align: center;
 
 }
 
 #jobsbutton{
     margin-bottom: 20px;
 }