<div id="">
    <div id=""> 
  
  <div class="post-div" fxLayout="row" fxLayoutAlign="center center">
      <mat-card class="orangebox"><mat-card>
    <form class="profile-form" #profileform="ngForm" (ngSubmit)="submission(profileform)">
      

      <mat-form-field class="mat-input-wrapper">
        <input name="firstName" matInput placeholder="First Name" ngModel>
      </mat-form-field>
      <br>
      <mat-form-field class="mat-input-wrapper">
        <input name="lastName" matInput placeholder="Last Name" ngModel>
      </mat-form-field>
      <h4>Skills:</h4>
      <mat-card style="overflow-x: hidden;" class="skills-field">
        <mat-card *ngFor="let s of skill">
          <mat-checkbox [name]="s.title" [id]="s.id" (change)="getCheckboxes($event)">{{s.title}}</mat-checkbox>
        </mat-card>
      </mat-card>
      <mat-form-field class="mat-input-wrapper">
        <textarea value="description" name="description" matInput placeholder="Description" ngModel></textarea>
      </mat-form-field>
      <br>
      <button input type="submit"   class="btn-block glow-on-hover bigwords">Submit</button>

    </form>
    </mat-card></mat-card>
  </div>
</div>
