$revature-orange-light:#f3a55d; 


body{
    background: white;
}

.skills-field{
    height:100px;
    overflow: scroll;
}
.orangebox{
    color: black;
    max-height: 500px;
    position:relative;
    top:20px;opacity:1;float:center;padding:50px;
    width:100%;background: $revature-orange-light;
    border-radius:10px;transform:scale(1);
    -webkit-transform:scale(1);-ms-transform:scale(1);z-index:5;max-width:600px;
    overflow: hidden; display: flex; flex-direction: column;overflow-y: auto;
    box-shadow: 0 3px 5px -1px rgb(32, 18, 5), 0 6px 10px 0 rgba(119, 89, 8, 0.603), 0 1px 18px 0 rgba(245, 124, 11, 0.411);
}
.post-div{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

