<div class="card">
  <div class="card_header" color="primary">
    <div class="card_header_status">
      {{ job.jobFilled ? "Filled" : "Open" }}
    </div>
    <div class="card_header_title">
      {{ job.jobTitle }}: <i>{{ job.jobId }}</i>
    </div>
    <div class="card_header_subtitle">{{ job.jobLoc }}</div>
  </div>
  <div class="card_content">
    <i>DESCRIPTION:</i>
    <p>{{ truncate(job.jobDesc) }}</p>
  </div>
  <hr />
  <div class="card_footer">
    <p
      *ngFor="let skill of job.jobSkillIdsList; let i = index"
      class="skill"
    >
      <span *ngIf="i < 9">
        {{ skill.skillTitle }}
      </span>
    </p>
  </div>
</div>
