<div class="card">
  <div class="card_header" color="primary">
    <div class="card_header_title">Software Developer</div>
    <div class="card_header_subtitle">SFD-19874</div>
  </div>
  <div class="card_content">
    Software developers are the creative minds behind software programs, and
    they have the technical skills to build those programs or to oversee their
    creation by a team. They create software that enables users to perform
    specific tasks on computer devices.
  </div>
  <hr />
  <div class="card_footer">
    <div class="card_footer_side"># Applicants: 23</div>
    <div class="card_footer_side"># Interviews: 23</div>
  </div>
</div>
