@import "../../../styles.scss";
.card {
  $card-side-length: 18rem;
  height: $card-side-length;
  width: $card-side-length;

  padding: 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  cursor: pointer;

  box-shadow: $box-shadow-low;
  transition-duration: 0.3s;
  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: $box-shadow-high;
  }

  &_header {
    background-color: $col-pri !important;
    padding: 0.5rem;
    & > * {
      margin: 0;
    }
    // margin: .5rem;
    &_title {
      color: white;
      font-size: 1.2rem;
    }
    &_subtitle {
      color: #eee;
      font-style: italic;
    }
    &_status {
      text-align: right;
      text-transform: uppercase;
      color: #eee;
    }
  }

  &_content {
    padding: 0.5rem;
    height: 100%;
    color: $dark-grey;
    p{
      font-size: .9rem;
    }
  }

  hr {
    border: none;
    margin: 0.5rem;
    height: 2px;
    background-color: $col-pri;
  }

  &_footer {
    margin: .5rem;
    height: 3rem;
    color: $light-grey;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, 33%);
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 0.8rem;
    .skill {
      text-align: center;
      padding: .2rem;
      overflow: hidden;
      text-overflow: ellipsis;
      span {
        white-space: nowrap;
      }
    }
  }
}