<div *ngFor="let int of interview" class="post-div" fxLayout="row" fxLayoutAlign="center center">
<mat-card style="margin-bottom: 20px;" class="orangebox" >
    <br>
    <mat-card>
    <h4>Interviewee</h4>
    <p>{{int.profile.firstName}} {{int.profile.lastName}}</p>
    <!-- <h4>Comments:</h4>
    <mat-card>{{int.comments}}</mat-card> -->
    <h4>Date:</h4><p>{{int.date | date:'short'}}</p>
    <p>{{int.isComplete}}</p>
    <h4>Job</h4>
    <p>{{int.job.title}}</p>
    <h4>Interviewers</h4>
    <ul>
        <li *ngFor=" let u of int.users; index as i">{{int.users[i].username}}</li>
    </ul>
    
</mat-card><br>
</mat-card>

</div>
