$revature-orange-light:#f26925; 
$revature-orange: #f26925;

.bigwords{
  font-weight: bolder; 
  font-family: 'Allerta', sans-serif;
  text-align: center;
  font-size: 31px;
  letter-spacing: 4px;
  color: rgb(0, 0, 0);
}

.post-div{  
    display: flex;
    justify-content: center;
    align-items: center;   
  }

  .orangebox{
    color: black;
    max-height: 500px;
    position:relative;
    top:20px;opacity:1;float:center;padding:50px;
    width:100%;background: $revature-orange-light;
    border-radius:10px;transform:scale(1);
    -webkit-transform:scale(1);-ms-transform:scale(1);z-index:5;max-width:600px;
    overflow: hidden; display: flex; flex-direction: column;overflow-y: auto;
    box-shadow: 0 3px 5px -1px rgb(32, 18, 5), 0 6px 10px 0 rgba(119, 89, 8, 0.603), 0 1px 18px 0 rgba(245, 124, 11, 0.411);
}