@import '../../styles.scss';

.job-page{
    display: grid;
    grid-template-columns: 7fr 6fr;
    margin-top: 3vh;
    .left-col{
        // background-color: green;
        height: 100%;
        .job-form-1{
            background-color: #eee;
            width: 33rem;
            height: 80vh;
            margin-left: auto;
            margin-right: 1rem;
            border-radius: 5px;
            .example-container {
                display: flex;
                flex-direction: column;
              }
              
            .example-container > * {
                width: 100%;
            }
        }
    }
    .right-col{
        // background-color: red;
        height: 100%;
        .job-form-2{
            background-color: #eee;
            width: 22rem;
            height: 80vh;
            border-radius: 5px;
        }
    }
}

.create-form-title{
    background-color: $col-pri;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 3rem;
    color: #eee;
    padding-top: 25px;
    padding-left: 15px;
}

.title{
    width: 100%;
}

.button-submit{
    width: 25%;
    margin-top: 13rem;
    align-items: baseline;
}
.button-container{
    text-align: center;
    margin-bottom: 0px;
}