<div class="jobs">
  <app-mini-searchbar
    (searchTermChanged)="onSearchTermChanged($event)"
  ></app-mini-searchbar>
  <label *ngIf="noEntry">No matching entries found</label>

  <div class='left-col'>
    <div class='job-form-1'>
        <!--Left column creates the basic fields of the job: Title, Description and Requisite skills. -->
        
        <div class="example-container">
            <mat-form-field>
                <!--The selection panel of the skills. -->
                <mat-select [formControl]="selections" (focus)="resetOptions()" placeholder="{{ title }}" multiple>
                    <mat-option>
                        <ngx-mat-select-search (input)="termChanged($event)" placeholderLabel="Search Skills" 
                        noEntriesFoundLabel="No matching entries found"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let option of options" [value]="option">
                        {{ option.title }} 
                        {{option.id}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-chip-list class="selection_pool">
                <!--The chip display of skills.-->
                <mat-chip *ngFor="let selection of selections.value" class="selection">
                    {{ selection.title }}
                </mat-chip>
              </mat-chip-list>
        </div>
    </div>
</div>
  
  <div id='jobslist' class="grid">
    <div *ngFor='let job of jobs'>
      <app-job-card [job]='job'></app-job-card>
    </div>
  </div>
</div>
<div *ngIf='!atEnd' id='centernpbtn'>
  <button id='NextPageBtn' color="primary" (click)='nextPage()' mat-button>Load More</button>
</div>
<app-fab></app-fab>
