<div id="mainDiv">

        <br><br><br>
<br>
<p style="margin: 0;">create view button</p>


<br>
<p style="margin: 0;">Search Bar</p><br>
<p style="margin: 0;">Log Out</p><br>



</div>

<div id="mainDiv2">


        <p style="margin: 0;">give me a tittle</p>
        
        
        </div>

<div id="mainDiv3">


    <p style="margin: 0;">give me a tittle</p>
                
                
        </div>

        <div id="mainDiv4">


                <div id="mainDiv5">


                        <p style="margin: 0;">create a job form L Tuppy</p>
<!-- these are modules, your module lives in this div -->                    
                                    
                            </div>
                <div id="mainDiv5">


                        <p style="margin: 0;">create a Profile form L Tuppy</p>
<!-- these are modules, your module lives in this div -->                
                                                
                            </div>
                            
                            
                    </div>

                    <div id="mainDiv5">


                            <p style="margin: 0;">create an interview form L Tuppy</p>
  <!-- these are modules, your module lives in this div -->

                                                    
                                </div>
                                
                                
                  

                    <div id="mainDiv5">


                            <p style="margin: 0;">create a skill form Kingsley</p>
   <!-- these are modules, your module lives in this div -->
                                                    
                                </div>
                                
                                
                        </div>



                   