<div id="mainDiv" class= "strongColor">

<br>
<p style="margin: 0;">create view button</p>
<!-- Mason, create a toggle button that hides (display none) div 4 on and off, then make a button #2 
that would appear where div 4 would whne its gone that makes it pop back out but hides the button, and this button must also go away when
button 1 is pressed. make a testcase for it using jasmine when done.
-->

<br>
<p style="margin: 0;">Search Bar</p><br>
<p style="margin: 0;">Log Out</p><br>

<!-- Mason, create a log out that is compatible with our log in logic and make jasmine yest with it.
-->



</div>

<div id="mainDiv2">


        <p style="margin: 0;">give me a tittle</p>
        <br>
        <br>
        
        
</div>

<div id="mainDiv3">


    <p style="margin: 0;">give me a tittle</p>
    <br><br>
                
                
</div>

<div id="mainDiv4">
        <div id="mainDiv5">
                <p style="margin: 0;">create a job form L Tuppy</p>
                <app-job-form></app-job-form>
<!-- these are modules, your module lives in this div -->                    
                                    
        </div>
        <div id="mainDiv5">
                <p style="margin: 0;">create a Profile form L Tuppy</p>
<!-- these are modules, your module lives in this div -->             
                <app-profile-form></app-profile-form>                                                  
        </div>                            
                            
        <div id="mainDiv5">
                <p style="margin: 0;">create an interview form L Tuppy</p>
  <!-- these are modules, your module lives in this div -->             
                <app-interview-form></app-interview-form>                                       
        </div>
        <div id="mainDiv5">
                <p style="margin: 0;">create a skill form Kingsley</p>
   <!-- these are modules, your module lives in this div -->
        </div>
</div>



                   