$black_50: rgba(0, 0, 0, 0.5);
$coral: coral;
$black_67_1: rgba(0, 0, 0, 0.671);

#revaturelogo-2 {
    margin-top: 300px ;
    position: absolute;
    position: fixed;
    z-index: 2;
    color: $black_50;
    
}

#logo-text-2 {
    font-size: 15em;
    color: $black_67_1;
    padding-top: 0;
    margin-top: 0;
}