<div class="login">
  <div class="side side_1">
    <div class="heading">
      <div class="heading_img">
        <img src="assets/img/logo.png" alt="Revature Logo" />
      </div>
      <h1>Interview Tracker</h1>
    </div>
    <div class="content">
      <p>
        The Revature Interview Tracker is the perfect app for employers looking
        for a fast and easy-to-use platform for managing their organization's
        interviews. 
      </p>
      <br />
      <p>
        With the Interview Tracker, employers can post job openings, schedule
        interviews, evaluate candidates, and look up information shared by
        other employers.
      </p>
    </div>
  </div>

  <div class="side side_2">
    <h2>Sign In</h2>
    <mat-form-field class="login_form_field">
      <mat-label>Username</mat-label>
      <input [(ngModel)]="username" name="username" matInput />
    </mat-form-field>
    <mat-form-field class="login_form_field">
      <mat-label>Password</mat-label>
      <input type="password" [(ngModel)]="password" name="password" matInput />
    </mat-form-field>
    <button [disabled]="!username || !password" color="primary" (click)="login()" mat-button>Submit</button>
  </div>
</div>
