#libox{
    background-color: grey;

margin: 10px;
padding: 10px;
}

.login-div {
    align-items: center;
    position: relative;
    height: 50%;
    width: 50%;
    background-color: rgb(255, 150, 13);
    box-shadow: 0 3px 5px -1px rgb(32, 18, 5), 0 6px 10px 0 rgba(119, 90, 8, 0.87),
      0 1px 18px 0 #f26925;
    padding: 40px 70px;
    
    top: 80;
    opacity: 1;
    float: center;
    padding: 60px 50px 40px 50px;
    
  }

  #topdiv{

      margin-left: 26%;
  

      margin-top: 100px;
      position: relative;
  }

.login-card{
  padding: 8px;
  text-align: center;

  background-color: #f26924;
}

.login-div login-card {
  font-size: 30px;
  margin: 0;
  color: #f26925;
}

.login-div {   
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding-top: 50px;
  height: 250px;
  width: 300px;
  background-color: rgba(255, 166, 0, 0.89);
  box-shadow: 0 3px 5px -1px rgb(32, 18, 5), 0 6px 10px 0 rgba(119, 89, 8, 0.603), 0 1px 18px 0 rgba(245, 124, 11, 0.411);
  opacity: 1;
}

$revature-orange-light: #f3a55d;
$revature-orange: #f26925;


.orangebox{
    color: black;
    max-height: 500px;
    position:relative;
    top:20px;opacity:1;float:center;padding:50px;
    width:100%;background: $revature-orange-light;
    border-radius:10px;transform:scale(1);
    -webkit-transform:scale(1);-ms-transform:scale(1);z-index:5;max-width:400px;
    overflow: hidden; display: flex; flex-direction: column;overflow-y: auto;
    box-shadow: 0 3px 5px -1px rgb(32, 18, 5), 0 6px 10px 0 rgba(119, 89, 8, 0.603), 0 1px 18px 0 rgba(245, 124, 11, 0.411);
}

.post-div{
  margin: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
    
}