<br>
<label for="sch" class="bigwords">Filter : </label> <input [(ngModel)]="name" id="sch" >
<br>
<div *ngFor="let p of profile" class="post-div" fxLayout="row" fxLayoutAlign="center center">
        
<mat-card style="margin-bottom: 20px;"  class="orangebox"  *ngIf="filterS(p.firstName,p.lastName,name);">
    <mat-card>
    <h4>{{p.firstName}} {{p.lastName}}</h4>
    <h4>Skills</h4>
    <ul>
    <li *ngFor=" let s of p.skills; index as i">{{p.skills[i].title}}</li>
    </ul>
    <h4>Interviews</h4>
    <ul *ngFor=" let int of interviews; index as i">
    <li *ngIf="int.profile.firstName===p.firstName">{{int.date | date:'short'}}</li>
    </ul>
    <h4>Description</h4>
    <p>{{p.description}}</p><br/>
</mat-card><br/></mat-card><br/>
</div>