<mat-card *ngFor="let j of job">
        <mat-card *ngIf="!j.skills">
        <h4>Job Title</h4>
        <p>{{j.title}}</p>
        <h4>Job Description</h4>
        <p>{{j.description}}</p>
        <ul>
        <li *ngFor=" let s of j.skills; index as i">{{j.skills[i].title | json}}</li>
        </ul>
        <mat-slide-toggle checked="{{j.filled}}" (change)="sliderChange($event)">{{slider}}</mat-slide-toggle>
        <mat-card>
        <h4>Recommended Profiles</h4>
        <p>{{j.profiles | json}}</p>
        </mat-card>
</mat-card>
</mat-card>
