<mat-form-field>
  <mat-select [formControl]="selections" (focus)="resetOptions()" placeholder="{{ title }}" multiple>
    <mat-option>
      <ngx-mat-select-search (input)="termChanged($event)" ></ngx-mat-select-search>
    </mat-option>
    <mat-option (click)="selectOption()" *ngFor="let option of options" [value]="option">
        {{ option.title }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-chip-list class="selection_pool">
   Profile Skills: 
    <mat-chip
      *ngFor="let selection of selections.value"
      class="selection"
    >
      {{ selection.title }}
    </mat-chip>
</mat-chip-list>


